<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       >
       
       <bean id = "add1" class="com.learning.entity.Address">
<!--     	<constructor-arg index="0" value="A-7"/>
    	<constructor-arg index="3" value="Bengaluru"/>
    	<constructor-arg index="1" value="ABC Housing Soc."/>
    	<constructor-arg index="2" value="M. G. Road"/>
    	<constructor-arg index="4" value="Maharashtra"/> -->
    	<property name="houseNo" value="s-9"/>
    	<property name="society" value="ABC Society"/>
    	<property name="street" value="Xyz Street"/>
    	<property name="city" value="Hyderabad"/>
    	<property name="state" value="Telangana"/>
    </bean>
    
    <bean id="student" class="com.learning.entity.Student">
    	<property name="rollno" value="10"/>
    	<property name="name" value="Shashank"/>
    	<property name="address" ref="add1"/>
    	<property name="m1" value="50"/>
    	<property name="m2" value="60"/>
    	
    </bean>
    
       
       
       
       </beans>
       